<p id="notice"><%= notice %></p>

<h1>Expense Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expense_categories.each do |expense_category| %>
      <tr>
        <td><%= expense_category.name %></td>
        <td><%= expense_category.created_at %></td>
        <td><%= expense_category.updated_at %></td>
        <td><%= link_to 'Show', expense_category %></td>
        <td><%= link_to 'Edit', edit_expense_category_path(expense_category) %></td>
        <td><%= link_to 'Destroy', expense_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expense Category', new_expense_category_path %>
