<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @expense_category.name %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @expense_category.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @expense_category.updated_at %>
</p>

<%= link_to 'Edit', edit_expense_category_path(@expense_category) %> |
<%= link_to 'Back', expense_categories_path %>
