
<%= nested_form_for @invoice, :html => {:novalidate => ""} do |f| %>

		  <% if invoice.errors.any? %>
			<div id="error_explanation">
			  <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

			  <ul>
			  <% invoice.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			  <% end %>
			  </ul>
			</div>
		  <% end %>

		  
    

	<div class="container-fluid grey">		
		<div class="form-group company name">
			<div class="label_field"><%= f.label :company_id, "Company Name" %></div>
			<div><%= text_field_tag 'company', get_invoice_company_name(@invoice), :readonly => '', :class => 'company_read_only' %></div>
		</div>
		</br>
		<div class="form-group">
                <label class="control-label col-md-2 required">
                  Customer Name
                </label>
                <div class="col-md-6">
				    <% selected_contact = @contact.present? ? @contact.id : f.object.contact_id %>
                    <%= f.select :contact_id, options_for_select(load_contacts(action_name, @invoice.company_id), selected: selected_contact), {:prompt => "", :include_blank => ""}, {"data-placeholder" => "Select a client...", :class => "invoice_client medium chzn-select", "data-form-container" => "clients_holder", "data-dropdown-width" => "300"} %>
                    <ul class="field_description select">
                    </ul>
				</div>
			</div>
		</div>
		</br>

		<div class="container-fluid">
			<div class="form-group">
				<div class="label_field"><%= f.label :invoice_number, "Invoice Number Auto-generated" %></div>
				<%= f.text_field :invoice_number, :id => "inputHelpBlock", :readonly => "", :required => "" %>
				<span id="helpBlock" class="help-block">The Invoice Number will be automatically generated and can't be edited.</span>
			</div>
			</br>
			<div class="form-group">
				<div class="label_field"><%= f.label :invoice_date, "Date of Invoice" %></div>
				<%= f.date_select :invoice_date,value: f.object.invoice_date, :required => "", "data-provide" => 'datepicker' %>
			</div>	
			<div class="form-group">
             			 <div class="label_field"><%= f.label :due_date, "Due Date" %></div>
              			<%= f.date_select :due_date %>
            		</div>



		</div>

				


  <div class="container-fluid">
    <div class="row">
     <div class="col-md-12">
      <table class="table invoice_grid_fields calculate-rows" id="invoice_grid_fields">
        <thead>
	<tr>
          <th>Item</th>
          <th class="col-sm-2">Item Description</th>
	  <th>Cost (in INR)</th>
          <th>Quantity (Units/Kgs)</th>
          <th>Discount Amount (in INR)</th>
          <th>Net Total (incl. of Taxes) INR</th>
          <th>Tax Type</th>
          <th>Tax Rate (in %)</th>
	  <th>Tax Amount (in INR)</th>
	  <th>Tax Type</th>
	  <th>Tax Rate (in %)</th>
	  <th>Tax Amount (in INR)</th>
	  <th>&nbsp;</th>
	</tr>
        </thead>
        <%= f.fields_for :invoice_line_items, :wrapper => false %>
        <tr style="border:none;" class="no_hover">
	  <td class="add_line_item_row" colspan="2"><%= f.link_to_add t("views.invoices.add_line_item"), :invoice_line_items, :class => "btn btn-mini", id: 'add_line_item' %></td>
        </tr>
	<tfoot>
	  <tr>
	    <td>
	    	<%= f.text_field :subtotal, :placeholder => 'Sub Total', :class => 'subtotal' %>
	    </td>
	    <td>
		<%= f.text_field :shippingcharges, :placeholder => 'Shipping Charges', :class => 'shippingcharges' %>
	    </td>
	    <td>
	 	<%= f.text_field :invoice_total, :placeholder => 'Net Payable', :class => 'finalinvoice', :readonly => '' %>
	    </td>
	  </tr>
	</tfoot>
      </table>
     </div>
   </div>

    </div>
    <!--grid_table-->
	<div class="container-fluid">
	<div class="row calculate">
	<div class="col-md-5 col-xs-5">
	  <div class="form-control-static">Sub Total</div>
	</div>
	<div class="col-md-4 col-xs-4">
	  <%#= f.text_field :subtotal, :class => 'subtotal', :id => 'subtotal', :placeholder => 'Sub Total' %>
	</div>
	</div>

       <div class="row shipping">
         <div class="col-md-5 col-xs-5">
        	
		<div class="form-control-static">Shipping Charges</div>
	 </div>
	 <div class="col-md-4 col-xs-4">

                <%#= f.text_field :shippingcharges, :class => 'shippingcharges', :id => 'shippingcharges', :placeholder => 'Shipping charges' %>
         </div>
       </div>

	<div class="row calculate">
	<div class="col-md-5 col-xs-5">
		<div class="form-control-static">Invoice Iotal</div>
	</div>
	<div class="col-md-4 col-xs-4">
	  <%#= f.text_field :invoice_total, :readonly => 'readonly', :class => 'finalinvoice', :id => 'finalinvoice', :placeholder => 'Net Payable' %>
	</div>
	</div>
	</div>

	<div class="container-fluid">
		<div class="row terms">
		<p>Terms &amp; Conditions</p>
		<div class="terms text"><%= f.text_area :terms, :placeholder => 'Mention Your Company Terms & Conditions.', :class => 'col-md-10', :rows => "5" %></div>
		</div>

		<div class="row terms">
		<p>Note:</p>
		<div class="notes text"><%= f.text_area :notes, :placeholder => "Note to Customer. Will be printed on Invoice", :class => 'col-md-10', :rows => '3' %>
		</div>
	</div>



  <div class="field">
    <#%= f.label :status %>
    <#%= f.text_field :status %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>





<% end %>
