<tr class="fields">
  <td class="align_center">
    <div class="action_links">
      <%= f.hidden_field :_destroy%>
      <a data-association="invoice_line_items" class="remove_item remove_nested_fields" href="javascript:void(0)" title=" Delete this line item"></a>
      <a class="sort_icon" href="javascript:" title="Drag this line item to your desired location in this invoice"></a>
    </div>
  </td>
  <td class="align_left">
    <%= f.select :item_id, options_for_select(load_line_items(action_name, @invoice.company_id, f.object), selected: f.object.item_id),  {:prompt => "",:include_blank => ""}, {"data-placeholder" => t('views.invoice_line_item.select_an_item'), :class => "items_list medium chzn-select grid_large_medium", "data-form-container" => "items_holder", "data-dropdown-width" => "300", :required => ""} %>
  </td>

  <%= f.hidden_field :item_name, :class => 'item_name' %>
  <td class="align_left">
    <%= f.text_field :item_description, :class => 'grid_large description' %>
  </td>
  <td class="align_right">
    <%= f.text_field :item_unit_cost, :class => 'grid_small align_right cost line_item_qtip' %>
  </td>
  <td class="align_right">
    <%= f.text_field :item_quantity, :class => 'grid_small align_right qty line_item_qtip' %>
  </td>
  <td class="align_left">
    <%= f.select(:tax_1, options_for_select(load_line_item_taxes1(f.object), :selected => f.object.tax_1), {:prompt => "",:include_blank => ""}, {"data-placeholder" => "", :class => "tax tax1 chzn-select grid_small", "data-form-container" => "taxes_holder", "data-dropdown-width" => "300"}) %>
  </td>
  <td class="align_left draf">
    <%= f.select(:tax_2, options_for_select(load_line_item_taxes2(f.object), :selected => f.object.tax_2), {:prompt => "",:include_blank => ""}, {"data-placeholder" => "", :class => "tax tax2 chzn-select grid_small", "data-form-container" => "taxes_holder", "data-dropdown-width" => "300"}) %>
  </td>
  <td class="align_right">
    <%= label_tag 'line total', '0.00', :class => 'blank_input grid_medium line_total' %>
  </td>
</tr>
