<table class="table">
<tbody>
<tr class="fields">
  <td class="align_left">
    <%= f.select :item_id, options_for_select(load_line_items(action_name, @invoice.company_id, f.object), selected: f.object.item_id),  {:prompt => "",:include_blank => ""}, {"data-placeholder" => t('views.invoice_line_item.select_an_item'), :class => "items_list medium chzn-select grid_large_medium", "data-form-container" => "items_holder", "data-dropdown-width" => "300", :required => ""} %>
  </td>

  <%= f.hidden_field :item_name, :class => 'item_name' %>
  <td class="align_left">
    <%= f.text_field :item_description, :placeholder => 'Item Description', :class => 'grid_large description' %>
  </td>
  <td class="align_right">
    <%= f.text_field :item_unit_cost, :placeholder => 'Cost per unit', :class => 'grid_small align_right unit' %>
  </td>
  <td class="align_right">
    <%= f.text_field :item_quantity, :placeholder => 'Quantity', :class => 'grid_small align_right qty' %>
  </td>
  <td class="align_right">
    <%= f.text_field :discount_amount, :placeholder => 'Discount amt', :class => 'grid_small align_right discount' %>
  </td>
  <td class="align_right">
    <%= f.text_field :net_total, :readonly => 'readonly', :placeholder => 'Net total', :class => 'grid_small net' %>
  </td>
  <td class="align_right">
    <%= f.text_field :taxtypeone, :placeholder => 'Tax Name', :class => 'grid_small taxtype1' %>
  </td>
  <td class="align_right">
    <%= f.text_field :taxrateone, :placeholder => 'Tax rate', :class => 'grid_rate taxrate1' %>
  </td>
  <td class="align_right">
    <%= f.text_field :taxamountone, :placeholder => 'Tax amt', :readonly => 'readonly', :class => 'grid_small taxamount1' %>
  </td>
  <td class="align_right">
    <%= f.text_field :taxtypetwo, :placeholder => 'Tax name', :class => 'grid_small taxtype2' %>
  </td>
  <td class="align_right">
    <%= f.text_field :taxratetwo, :placeholder => 'Tax rate', :class => 'grid_rate taxrate2' %>
  </td>
  <td class="align_right">
    <%= f.text_field :taxamounttwo, :placeholer => 'Tax amount', :readonly => 'readonly', :class => 'grid_small taxamount2' %>
  </td>
  <td class="align_center">
    <%= f.link_to_remove "X", :class => 'removeitem' %>
  </td>


</tr>
</tbody>
</table>


<script>
 
$(function() {
  $(".calculate-rows").keyup(function(event) {
    calt();
  });
});

function calt() {
$('.qty, .unit, .discount, .taxrate1, .taxrate2, .shippingcharges').each(function() {
  var net = 0;
  var $row = $(this).closest("tr");
  var qty = parseFloat($row.find('.qty').val());
  var price = parseFloat($row.find(".unit").val());
  var discount = parseFloat($row.find('.discount').val() || 0);
  var taxrate1 = parseFloat($row.find('.taxrate1').val() || 0);
  var taxrate2 = parseFloat($row.find('.taxrate2').val() || 0);
  var shippingcharges = parseFloat($row.find('.shippingcharges').val() || 0);
  total = qty * price;
  $row.find('.total').val(total);
  console.log(total)
  gross = total - discount;
  var tax1 = gross * taxrate1 / 100;
  var tax2 = gross * taxrate2 / 100;
  taxamount1 = tax1;
  $row.find('.taxamount1').val(taxamount1);
  console.log(taxamount1)
  taxamount2 = tax2;
  $row.find('.taxamount2').val(taxamount2);
  console.log(taxamount2)
  net = gross + taxamount1 + taxamount2;
  $row.find('.net').val(net);
  console.log(net)
  var sum = 0;
  var update = false;
    $('.net').each(function() {
      val = parseFloat($(this).val());
      sum = val ? (parseFloat(sum + val)) : sum;
    });
  $('.subtotal').val(sum.toFixed(2));
    result = sum + shippingcharges;
    $('.finalinvoice').val(result.toFixed(2));
    console.log(result)
});
}

$('.removeitem').click(function() {
    $(this).closest('tr').remove();
    calt();
});

</script>
