<div class="container-fluid invoice-preview">

        <div class="invoice_preview_container">

                <div class="invoice_tag <%= @invoice.status %>"></div>

        <div class="invoice_preview_content">
		<div class="container-fluid invoice-top">

		<div class="row invoice-header">
			<div class="col-xs-12 col-md-8 invoice"><h1>INVOICE</h1></div>
			<div class="col-xs-6 col-md-4 date number">
			
      			<% unless @invoice.company.companylogo_url.blank? %>

      		          <div class="company_logo"><%= request.format.pdf? ? (wicked_pdf_image_tag  @invoice.company.companylogo_url(:thumb)) : (image_tag @invoice.company.companylogo_url(:thumb)) %></div>
			  <div class="company-tag-line"><p class="company-tag-line"><%= @invoice.company.company_tag_line %></p></div>
      			<% end %>
			</div>
		</div><!--row invoice-header-->
		
		<div class="row invoice-content-top">
			<div class="col-md-4 company-details">
				<div class="invoice-company-name"><strong><%= @invoice.company.company_name || '' %></strong></div>
				<div class="invoice-company-details">
					<p class="company-details"><%= @invoice.company.company_contact_name %></p>
					<p class="company-details"><%= @invoice.company.company_street_address_1 %></p>
					<p class="company-details"><%= @invoice.company.company_street_address_2 %></p>
					<p class="company-details"><%= @invoice.company.company_city %><%= @invoice.company.company_state %></p>
					<p class="company-details"><%= @invoice.company.company_zipcode %><%= @invoice.company.company_country %></p>
					<p class="company-details"><%= @invoice.company.company_phone_number %></p>
					<p class="company-details"><%= @invoice.company.company_email %></p>
					<p class="company-details"><%= @invoice.company.company_cin %></p>
					<p class="company-details"><%= @invoice.company.company_vat %></p>
				</div><!--invoice-company-details-->
			</div><!--col-md-4 company-details-->
		
		<% if @contact.present? %>
			<div class="col-md-4 client-details">
				<p class="company-details"><strong>Bill Issued To:</strong></p>
				<div class="invoice-client-name"><%= @contact.contact_company_name rescue '' %></div>
				<div class="client-details">
				<p class="company-details"><%= @contact.contact_first_name.to_s + " " +@contact.contact_last_name.to_s %></p>
				<p class="company-details"><%= @contact.contact_email %></p>
				<p class="company-details"><%= @contact.contact_company_phone %></p>
				</div><!--client-details-->
			</div><!--col-md-4-client-details-->
		<% end %>

			<div class="col-md-4 invoice-number-date">
				<p class="invoice-number"><strong>Invoice Number: <%= @invoice.invoice_number %></strong></p>
				<p class="invoice-date"><strong>Invoice Date: <%= @invoice.invoice_date %></strong></p>

			</div><!--col-md-4 invoice-number-date-->
		</div><!--row invoice-content-top-->
		</br>
		<table class="table table-bordered invoice-gist">
			<thead>
				<tr>
					<th class="text-center invoice-gist">Invoice Date</th>
					<th class="text-center invoice-gist">Net Payable</th>
					<th class="text-center invoice-gist">Due Date</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-center invoice-date"><%= @invoice.invoice_date %></td>
					<td class="text-center"><span class="fa fa-inr fa-lg"><%= number_to_indian_currency(@invoice.invoice_total, text: '') %></span></td>
					<td class="text-center"><%= @invoice.due_date %></td>
				</tr>
			</tbody>
		</table>
		</div><!--container-fluid invoice-top-->
		</div><!--preview-content-top-->
		</br>
		<% if @invoice.invoice_line_items.present? %>
		<div class="container-fluid preview-content-middle">
		<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered invoice_grid_fields" id="invoice_grid_fields">
			<thead>
			<tr>
		        <th>Item</th>
				<th class="col-sm-2">Item Description</th>
				<th>Cost (in INR)</th>
				<th>Quantity (Units)</th>
				<th>Discount Amount (in INR)</th>
				<th>Net Total (incl. of Taxes) INR</th>
				<th>Tax Type</th>
				<th>Tax Rate (in %)</th>
				<th>Tax Amount (in INR)</th>
				<th>Tax Type</th>
				<th>Tax Rate (in %)</th>
				<th>Tax Amount (in INR)</th>	
			</tr>
			</thead>
			<% @invoice.invoice_line_items.each do |invoice_line_item| %>	 
			<tbody>
			<tr>
		
				<td><%= invoice_line_item.item_name %></td>
				<td><%= invoice_line_item.item_description %></td>
				<td><span class="fa fa-inr"><%= number_to_indian_currency(invoice_line_item.item_unit_cost, text: '') %></span></td>
				<td><%= invoice_line_item.item_quantity %></td>
				<td><span class="fa fa-inr"><%= number_to_indian_currency(invoice_line_item.discount_amount, text: '') %></span></td>
				<td><span class="fa fa-inr"><%= number_to_indian_currency(invoice_line_item.net_total, text: '') %></span></td>
				<td><%= invoice_line_item.taxtypeone %></td>
				<td><%= invoice_line_item.taxrateone %></td>
				<td><span class="fa fa-inr"><%= number_to_indian_currency(invoice_line_item.taxamountone, text: '') %></span></td>
				<td><%= invoice_line_item.taxtypetwo %></td>
				<td><%= invoice_line_item.taxratetwo %></td>
				<td><span class="fa fa-inr"><%= number_to_indian_currency(invoice_line_item.taxamounttwo, text: '') %></span></td>

			</tr>
			</tbody>
			<% end %>
			</table>
		</div>
		</div><!--preview-content-middle-row-->
		</div><!--container-fluid preview-container-middle-->
		<% end %>
		</br>
		</br>
		<div class="container-fluid invoice-total">
		<div class="row invoice-total">
		<div class="col-md-12 invoice-total">
		<table class="table table-bordered invoice-total">
			<thead>
				<tr>
					<th class="text-center invoice-total">Sub Total</th>
					<th class="text-center invoice-total">Shipping Charges</th>
					<th class="text-center invoice-total">Net Payable</th>
				<tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-center"><span class="fa fa-inr fa-lg"><%= number_to_indian_currency(@invoice.subtotal, text: '') %></span></td>
					<td class="text-center"><span class="fa fa-inr fa-lg"><%= number_to_indian_currency(@invoice.shippingcharges, text: '') %></span></td>
					<td class="text-center"><span class="fa fa-inr fa-lg"><%= number_to_indian_currency(@invoice.invoice_total, text: '') %></span></td>
				<tr>
			</tbody>
		</table>
		</div><!--col-md-12 invoice-total-->
		</div><!--row invoice-total-->
		</div><!--container-fuild-invoice-total-->
		</br>
		<% unless @invoice.notes.blank? %>
		<div class="row invoice-bottom">
			<div class="preview-notes">
				<p class="preview-heading"><h4 class="notes-heading">Notes:</h4></p>
				
				<p class="notes"><%= @invoice.notes %></p>
			</div><!--preview-notes-->
		</div><!--row invocie-bottom-->
		<% end %>

		<% unless @invoice.terms.blank? %>
		<div class="row invoice-bottom">
			<div class="preview-notes">
				<p class="preview-heading"><h4>Terms & Conditions:</h4></p>
				
				<p><%= @invoice.terms %></p>
			</div><!--preview-notes-->
		</div><!--row invocie-bottom-->
		<% end %>

		</br>
		<div class="container-fluid invoice-footer">
			<div class="row invoice-footer">
				<div class="col-md-4">
					<div class="company bank info">
					<% unless @invoice.company.bank_info.blank? %>
					<p class="bank-details">
					<strong>Company Bank Detail for Account Transfer:</strong></p>
					<p>	<%= @invoice.company.bank_info %>
					</p>
					<% end %>
					</div><!--company-bankinfo-->					
				</div><!--col-md-4-->
				
				<div class="col-md-4">
					<div class="thank-you-line">
					<p><span class="fa fa-heart fa-lg"><strong> Thank You For Your Business!</strong></span></p>
					</div><!--thank-you-line-->
				</div><!--col-md-4-->


				<div class="col-md-4">
					<div class="company-contact-info">
					<p class="company-office-number"><span class="fa fa-phone"><%= @invoice.company.company_phone_number %></span></p>
					<% unless @invoice.company.companywebsite.blank? %>	
						<p class="company-website"><span class="fa fa-link"><%= @invoice.company.companywebsite %></span></p>
					<% end %>				
					<p class="company-head-branch-address"></p>
					<span class="fa fa-envelope"><p class="company-email-id"><%= @invoice.company.company_email %></span></p>
					</div>
				</div>
			</div><!--row-invoice-footer-->
		</div><!--container-fluid-footer-->


		
        </div><!--invoice_preview_content-->
        </div><!--invoice_preview_container-->
</div><!--container-fluid invoice-preview-->



