<%- model_class = Invoice -%>

<div class="container-fluid show-page">
  <div class="content_middle">
    <%= render :partial => "show_invoice" %>
  </div>


 <%= link_to 'Invoice', {:controller => 'invoices', :action => 'invoice_pdf', :id => @invoice.id, :format => "pdf"}, :target => '_blank' %>
<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
</div>
