/* line 1, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 10, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 17, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 23, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 26, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 30, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 36, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 40, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 47, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 52, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 56, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 62, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 70, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}
/* line 81, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 87, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}

/* line 91, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
select#invoice_contact_id {
  width: inherit;
}

/* line 95, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
.container-fluid.grey {
  background-color: #fbfafa;
}

/* line 99, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
.table {
  margin-bottom: 0px;
}

/* line 103, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
.grid_small {
  max-width: 78px;
}

/* line 107, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
.grid_rate {
  max-width: 78px;
}

/* line 111, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
.grid_table table {
  table-layout: fixed;
}

/* line 115, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
table#invoice_grid_fields {
  table-layout: fixed;
}

/* line 119, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
  padding-left: 20px;
}

/* line 125, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
.form-group.company.name {
  padding-top: 15px;
}

/* line 129, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
.row.shipping {
  padding-left: 920px;
}

/* line 133, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
.row.calculate {
  padding-left: 920px;
}

/* line 137, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
.terms.text {
  padding-left: 30px;
}

/* line 141, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
.notes.text {
  padding-left: 30px;
}

/* line 145, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
p.company-details {
  margin: 0px;
}

/* line 149, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
.content_middle {
  border: 2px solid #337ab7;
}

/* line 153, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
th.text-center.invoice-gist {
  background-color: rgba(217, 237, 247, 0.44);
}

/* line 157, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
th.text-center.invoice-total {
  background-color: rgba(217, 237, 247, 0.44);
}

/* line 161, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
.h1, h1 {
  font-size: 58px;
}

/* line 165, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
.container-fluid.invoice-preview {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 172, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
h4.notes-heading {
  padding-left: 30px;
}

/* line 176, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
p.notes {
  margin: 25px;
}

/* line 180, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
thead {
  border-top: 1px solid #286090;
}

/* line 184, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
th.text-center.invoice-gist {
  border: 1px solid #286090;
}

/* line 188, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
  border: 1px solid #286090;
}

/* line 192, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
tr {
  border-bottom: 2px solid #286090;
}

/* line 196, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
tr {
  border: 1px solid #286090;
}

/* line 200, /home/kiran/digitalocean/app/assets/stylesheets/scaffolds.scss */
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #286090;
  padding-left: 20px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

