<%= form_for(contact) do |f| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contact_company_name %>
    <%= f.text_field :contact_company_name %>
  </div>

  <div class="field">
    <%= f.label :contact_first_name %>
    <%= f.text_field :contact_first_name %>
  </div>

  <div class="field">
    <%= f.label :contact_last_name %>
    <%= f.text_field :contact_last_name %>
  </div>

  <div class="field">
    <%= f.label :contact_email %>
    <%= f.text_field :contact_email %>
  </div>

  <div class="field">
    <%= f.label :contact_company_phone %>
    <%= f.text_field :contact_company_phone %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
