<p id="notice"><%= notice %></p>

<h1>Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Contact company name</th>
      <th>Contact first name</th>
      <th>Contact last name</th>
      <th>Contact email</th>
      <th>Contact company phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.contact_company_name %></td>
        <td><%= contact.contact_first_name %></td>
        <td><%= contact.contact_last_name %></td>
        <td><%= contact.contact_email %></td>
        <td><%= contact.contact_company_phone %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path %>
