<%= form_for @company, :html => {:novalidate => "", :multipart => true} do |f| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_name %>
    <%= f.text_field :company_name %>
  </div>

  <div class="field">
    <%= f.label :company_contact_name %>
    <%= f.text_field :company_contact_name %>
  </div>

  <div class="field">
    <%= f.label :contact_title %>
    <%= f.text_field :contact_title %>
  </div>

  <div class="field">
    <%= f.label :company_country %>
    <%= f.text_field :company_country %>
  </div>

  <div class="field">
    <%= f.label :company_city %>
    <%= f.text_field :company_city %>
  </div>

  <div class="field">
    <%= f.label :company_street_address_1 %>
    <%= f.text_field :company_street_address_1 %>
  </div>

  <div class="field">
    <%= f.label :company_street_address_2 %>
    <%= f.text_field :company_street_address_2 %>
  </div>

  <div class="field">
    <%= f.label :company_state %>
    <%= f.text_field :company_state %>
  </div>

  <div class="field">
    <%= f.label :company_zipcode %>
    <%= f.text_field :company_zipcode %>
  </div>

  <div class="field">
    <%= f.label :company_phone_number %>
    <%= f.text_field :company_phone_number %>
  </div>

  <div class="field">
    <%= f.label :company_email %>
    <%= f.text_field :company_email %>
  </div>

  <div class="field">
    <%= f.label :company_cin %>
    <%= f.text_field :company_cin %>
  </div>

  <div class="field">
    <%= f.label :company_vat %>
    <%= f.text_field :company_vat %>
  </div>

  <div class="field">
    <%= f.label :bank_info %>
    <%= f.text_area :bank_info, :placeholder => "Bank Info for your customer to enable him to Bank transfer Payment. Will be printed in Invoice", :class => 'col-md-6', :rows => '3' %>
  </div>

  <div class="field">
    <%= f.label :companylogo %>
    <%= image_tag(@company.companylogo_url) if @company.companylogo? %>
    <%= f.file_field :companylogo %>
    <%= f.hidden_field :companylogo_cache %>
  </div>

  <div class="field">
    <%= f.label :company_tag_line %>
    <%= f.text_field :company_tag_line %>
  </div>

  <div class="field">
    <%= f.label :companywebsite %>
    <%= f.text_field :companywebsite %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
