<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<table>
  <thead>
    <tr>
      <th>Company name</th>
      <th>Company contact name</th>
      <th>Contact title</th>
      <th>Company country</th>
      <th>Company city</th>
      <th>Company street address 1</th>
      <th>Company street address 2</th>
      <th>Company state</th>
      <th>Company zipcode</th>
      <th>Company phone number</th>
      <th>Company email</th>
      <th>Company cin</th>
      <th>Company vat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.company_name %></td>
        <td><%= company.company_contact_name %></td>
        <td><%= company.contact_title %></td>
        <td><%= company.company_country %></td>
        <td><%= company.company_city %></td>
        <td><%= company.company_street_address_1 %></td>
        <td><%= company.company_street_address_2 %></td>
        <td><%= company.company_state %></td>
        <td><%= company.company_zipcode %></td>
        <td><%= company.company_phone_number %></td>
        <td><%= company.company_email %></td>
        <td><%= company.company_cin %></td>
        <td><%= company.company_vat %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
