<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @company.company_name %>
</p>

<p>
  <strong>Company contact name:</strong>
  <%= @company.company_contact_name %>
</p>

<p>
  <strong>Contact title:</strong>
  <%= @company.contact_title %>
</p>

<p>
  <strong>Company country:</strong>
  <%= @company.company_country %>
</p>

<p>
  <strong>Company city:</strong>
  <%= @company.company_city %>
</p>

<p>
  <strong>Company street address 1:</strong>
  <%= @company.company_street_address_1 %>
</p>

<p>
  <strong>Company street address 2:</strong>
  <%= @company.company_street_address_2 %>
</p>

<p>
  <strong>Company state:</strong>
  <%= @company.company_state %>
</p>

<p>
  <strong>Company zipcode:</strong>
  <%= @company.company_zipcode %>
</p>

<p>
  <strong>Company phone number:</strong>
  <%= @company.company_phone_number %>
</p>

<p>
  <strong>Company email:</strong>
  <%= @company.company_email %>
</p>

<p>
  <strong>Company cin:</strong>
  <%= @company.company_cin %>
</p>

<p>
  <strong>Company vat:</strong>
  <%= @company.company_vat %>
</p>

<p>
  <strong>Company Bank Account Details:</strong>(for helping your client trafer money directly to your bank account)
  <%= @company.bank_info %>
</p>

<p>
  <strong> company logo</strong>
  <%= image_tag(@company.companylogo_url(:thumb).to_s) %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
