<h1>Company#added_company</h1>

<p>
  <%= @greeting %>, find me in app/views/company_mailer/added_company.html.erb
</p>


<p>Thanks for adding the company, This is confirmation mail to you. Now You can proceed with adding your customer's in contact list and products you deal in contact list. You can also create Invoice and send the pdf as attachment to your customer.

We are adding few more things daily. Kindly rate and review.

Thanks
</p>
