<%= form_for(@invoice_line_item) do |f| %>
  <% if @invoice_line_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice_line_item.errors.count, "error") %> prohibited this invoice_line_item from being saved:</h2>

      <ul>
      <% @invoice_line_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :item_id, "Item id" %>
      <br/>
      <%= f.number_field :item_id %>
      <%= collection_select :invoice_line_item, :item_id, Item.all, :id, :item_name, :prompt => "Select an item" %>
    </div>

  <div class="field">
    <%= f.label :item_name %>
    <%= f.text_field :item_name %>
  </div>

  <div class="field">
    <%= f.label :item_description %>
    <%= f.text_field :item_description %>
  </div>

  <div class="field">
    <%= f.label :item_unit_cost %>
    <%= f.text_field :item_unit_cost %>
  </div>

  <div class="field">
    <%= f.label :item_quantity %>
    <%= f.text_field :item_quantity %>
  </div>

  <div class="field">
    <%= f.label :gross_line_total %>
    <%= f.text_field :gross_line_total %>
  </div>

  <div class="field">
    <%= f.label :discount_amount %>
    <%= f.text_field :discount_amount %>
  </div>

  <div class="field">
    <%= f.label :net_total %>
    <%= f.text_field :net_total %>
  </div>

  <div class="field">
    <%= f.label :taxtypeone %>
    <%= f.text_field :taxtypeone %>
  </div>

  <div class="field">
    <%= f.label :taxrateone %>
    <%= f.number_field :taxrateone %>
  </div>

  <div class="field">
    <%= f.label :taxamountone %>
    <%= f.number_field :taxamountone %>
  </div>

  <div class="field">
    <%= f.label :taxtypetwo %>
    <%= f.number_field :taxtypetwo %>
  </div>

  <div class="field">
    <%= f.label :taxratetwo %>
    <%= f.number_field :taxratetwo %>
  </div>

  <div class="field">
    <%= f.label :taxamounttwo %>
    <%= f.number_field :taxamounttwo %>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
