<p id="notice"><%= notice %></p>

<h1>Invoice Line Items</h1>

<table>
  <thead>
    <tr>
      <th>Item name</th>
      <th>Item description</th>
      <th>Item unit cost</th>
      <th>Itam quantity</th>
      <th>Gross line total</th>
      <th>Discount amount</th>
      <th>Tax 1</th>
      <th>Tax 2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoice_line_items.each do |invoice_line_item| %>
      <tr>
        <td><%= invoice_line_item.item_name %></td>
        <td><%= invoice_line_item.item_description %></td>
        <td><%= invoice_line_item.item_unit_cost %></td>
        <td><%= invoice_line_item.itam_quantity %></td>
        <td><%= invoice_line_item.gross_line_total %></td>
        <td><%= invoice_line_item.discount_amount %></td>
        <td><%= invoice_line_item.tax_1 %></td>
        <td><%= invoice_line_item.tax_2 %></td>
        <td><%= link_to 'Show', invoice_line_item %></td>
        <td><%= link_to 'Edit', edit_invoice_line_item_path(invoice_line_item) %></td>
        <td><%= link_to 'Destroy', invoice_line_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice Line Item', new_invoice_line_item_path %>
