<p id="notice"><%= notice %></p>

<p>
  <strong>Item name:</strong>
  <%= @invoice_line_item.item_name %>
</p>

<p>
  <strong>Item description:</strong>
  <%= @invoice_line_item.item_description %>
</p>

<p>
  <strong>Item unit cost:</strong>
  <%= @invoice_line_item.item_unit_cost %>
</p>

<p>
  <strong>Itam quantity:</strong>
  <%= @invoice_line_item.itam_quantity %>
</p>

<p>
  <strong>Gross line total:</strong>
  <%= @invoice_line_item.gross_line_total %>
</p>

<p>
  <strong>Discount amount:</strong>
  <%= @invoice_line_item.discount_amount %>
</p>

<p>
  <strong>Net Total:</strong>
  <%= @invoice_line_item.net_total %>
</p>

<p>
  <strong>Tax Type:</strong>
  <%= @invoice_line_item.taxtypeone %>
</p>

<p>
  <strong>Tax Rate:</strong>
  <%= @invoice_line_item.taxrateone %>
</p>

<p>
  <strong>Tax Amount:</strong>
  <%= @invoice_line_item.taxamountone %>
</p>

<p>
  <strong>Tax Type:</strong>
  <%= @invoice_line_item.taxtypetwo %>
</p>

<p>
  <strong>Tax Rate:</strong>
  <%= @invoice_line_item.taxratetwo %>
</p>

<p>
  <strong>Tax Amount:</strong>
  <%= @invoice_line_item.taxamounttwo %>
</p>


<%= link_to 'Edit', edit_invoice_line_item_path(@invoice_line_item) %> |
<%= link_to 'Back', invoice_line_items_path %>
