<%= form_for(item) do |f| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item_name %>
    <%= f.text_field :item_name %>
  </div>

  <div class="field">
    <%= f.label :item_description %>
    <%= f.text_field :item_description %>
  </div>

  <div class="field">
    <%= f.label :item_unit_cost %>
    <%= f.text_field :item_unit_cost %>
  </div>

  <div class="field">
    <%= f.label :item_quantity %>
    <%= f.text_field :item_quantity %>
  </div>

  <div class="field">
    <%= f.label :tax_1 %>
    <%= f.number_field :tax_1 %>
  </div>

  <div class="field">
    <%= f.label :tax_2 %>
    <%= f.number_field :tax_2 %>
  </div>

  <div class="field">
    <%= f.label :item_actual_price %>
    <%= f.text_field :item_actual_price %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
