<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th>Item name</th>
      <th>Item description</th>
      <th>Item unit cost</th>
      <th>Item quantity</th>
      <th>Tax 1</th>
      <th>Tax 2</th>
      <th>Item actual price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.item_name %></td>
        <td><%= item.item_description %></td>
        <td><%= item.item_unit_cost %></td>
        <td><%= item.item_quantity %></td>
        <td><%= item.tax_1 %></td>
        <td><%= item.tax_2 %></td>
        <td><%= item.item_actual_price %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
