<p id="notice"><%= notice %></p>

<p>
  <strong>Item name:</strong>
  <%= @item.item_name %>
</p>

<p>
  <strong>Item description:</strong>
  <%= @item.item_description %>
</p>

<p>
  <strong>Item unit cost:</strong>
  <%= @item.item_unit_cost %>
</p>

<p>
  <strong>Item quantity:</strong>
  <%= @item.item_quantity %>
</p>

<p>
  <strong>Tax 1:</strong>
  <%= @item.tax_1 %>
</p>

<p>
  <strong>Tax 2:</strong>
  <%= @item.tax_2 %>
</p>

<p>
  <strong>Item actual price:</strong>
  <%= @item.item_actual_price %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
