<%= form_for(@taxis, :html => {:novalidate => ""}) do |f| %>
  <% if @taxis.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(taxis.errors.count, "error") %> prohibited this tax from being saved:</h2>

      <ul>
      <% taxis.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :percentage %>
    <%= f.text_field :percentage %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
