<p id="notice"><%= notice %></p>

<h1>Taxes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Percentage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @taxes.each do |taxis| %>
      <tr>
        <td><%= taxis.name %></td>
        <td><%= taxis.percentage %></td>
        <td><%= link_to 'Show', taxis %></td>
        <td><%#= link_to 'Edit', edit_tax_path(tax) %></td>
        <td><%#= link_to 'Destroy', tax, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tax', new_tax_path %>
