<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @taxis.name %>
</p>

<p>
  <strong>Percentage:</strong>
  <%= @taxis.percentage %>
</p>

<%= link_to 'Edit', edit_tax_path(@taxis) %> |
<%= link_to 'Back', taxes_path %>
