body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

select#invoice_contact_id {
    width: inherit;
}

.container-fluid.grey {
    background-color: #fbfafa;
}

.table {
    margin-bottom: 0px;
}

.grid_small {
    max-width: 78px;
}

.grid_rate {
    max-width: 78px;
}

.grid_table table {
    table-layout: fixed;
}

table#invoice_grid_fields {
    table-layout: fixed;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    padding-left: 20px;
}

.form-group.company.name {
    padding-top: 15px;
}

.row.shipping {
    padding-left: 920px;
}

.row.calculate {
    padding-left: 920px;
}

.terms.text {
    padding-left: 30px;
}

.notes.text {
    padding-left: 30px;
}

p.company-details {
    margin: 0px;
}

.content_middle {
    border: 2px solid #337ab7;
}

th.text-center.invoice-gist {
    background-color: rgba(217, 237, 247, 0.44);
}

th.text-center.invoice-total {
    background-color: rgba(217, 237, 247, 0.44);
}

.h1, h1 {
    font-size: 58px;
}

.container-fluid.invoice-preview {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

h4.notes-heading {
    padding-left: 30px;
}

p.notes {
    margin: 25px;
}

thead {
    border-top: 1px solid #286090;
}

th.text-center.invoice-gist {
    border: 1px solid #286090;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #286090;
}

tr {
    border-bottom: 2px solid #286090;
}

tr {
    border: 1px solid #286090;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #286090;
    padding-left: 20px;
}

span.fa.fa-heart.fa-lg {
    color: red;
}

.company_logo {
    padding-left: 150px;
    padding-top: 22px;
}

p.company-tag-line {
    margin: 0px;
    padding-left: 140px;
}

.container-fluid.show-page {
    padding-left: 50px;
    padding-right: 50px;
}
