<% if @expenses.length > 0 %>
    <% @expenses.each do |expense| %>
        <tr>
          <td class="align_center"><%= check_box_tag "expense_ids[]", expense.id, false, :id => "expense_#{expense.id}" %></td>
          <td class="align_left text-overflow-class" data-overflow-rows="2"><%= expense.expense_category.name %></td>
          <td class="align_left text-overflow-class" data-overflow-rows="2"><%= expense.contact.contact_company_name %></td>
          <td class="align_right text-overflow-class" data-overflow-rows="2"><%= number_to_indian_currency(expense.amount) %></td>
          <td class="align_center text-overflow-class" data-overflow-rows="2"><%=  expense.expense_date %></td>
          <td class="align_right text-overflow-class" data-overflow-rows="2"><%= number_to_indian_currency(expense.total) %></td>
          <td class="align_center">
          </td>
        </tr>
    <% end %>
<% else %>
    <tr>
      <td colspan="6">
        <div class="no_record_container">
          <%= no_record_message %>
        </div>
      </td>
    </tr>
<% end %>
