
<%= form_for @expense, :html => {:class => 'expense-form', :novalidate => ""} do |f| %>
  <% if expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
      <% expense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field_row">
                  <div class="label_field left single"><%= f.label :expense_category_id, content_tag(:span, 'Category') %></div>
                  <div class="small_field">
                    <%= f.collection_select(:expense_category_id, ExpenseCategory.all, :id, :name, {:prompt => "", :include_blank => ""}, {"data-placeholder" => "Select a category...", :class => "expense_category small chzn-select", "data-form-container" => "clients_holder", "data-dropdown-width" => "130"})  %>
                  </div>
                </div>
                <!--field_row-->

                <div class="field_row description">
                  <div class="label_field left single"><%= f.label :contact_id, content_tag(:span, t('client')) %></div>
                  <div class="medium_field">
                    <%#= collection_select :invoice, :client_id, load_clients(action_name, @invoice.company_id) , :id, :organization_name, {:prompt => "", :include_blank => ""}, {"data-placeholder" => "Select a client...", :class => "invoice_client medium chzn-select", "data-form-container" => "clients_holder", "data-dropdown-width" => "300", :required => ""} %>
                    <% selected_contact = @contact.present? ? @contact.id : f.object.contact_id %>
                    <%= f.select :contact_id, options_from_collection_for_select(Contact.order('contact_first_name, contact_last_name'), :id, :contact_name,  selected_contact),  {:prompt => "", :include_blank => ""}, {"data-placeholder" => "Select a client...", :class => "expense_client medium chzn-select", "data-form-container" => "clients_holder", "data-dropdown-width" => "250"} %>
                    <ul class="field_description select">
                      <li><%= t('views.expenses.client_hint') %></li>

                    </ul>
                  </div>
                </div>


  <div class="field">
    <%= f.label :expense_amount %>
    <%= f.text_field :expense_amount %>
  </div>

  <div class="field">
    <%= f.label :expense_date %>
    <%= f.datetime_select :expense_date %>
  </div>

  <div class="field">
    <%= f.label :expense_note %>
    <%= f.text_field :expense_note %>
  </div>

  <div class="field">
    <%= f.label :taxtypeone %>
    <%= f.text_field :taxtypeone %>
  </div>

  <div class="field">
    <%= f.label :taxrateone %>
    <%= f.text_field :taxrateone %>
  </div>

  <div class="field">
    <%= f.label :taxamountone %>
    <%= f.text_field :taxamountone %>
  </div>

  <div class="field">
    <%= f.label :taxtypetwo %>
    <%= f.text_field :taxtypetwo %>
  </div>

  <div class="field">
    <%= f.label :taxratetwo %>
    <%= f.text_field :taxratetwo %>
  </div>

  <div class="field">
    <%= f.label :taxamounttwo %>
    <%= f.text_field :taxamounttwo %>
  </div>

  <div class="field">
    <%= f.label :expense_total %>
    <%= f.text_field :expense_total %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
