<p id="notice"><%= notice %></p>

<h1>Expenses</h1>

<table>
  <thead>
    <tr>
      <th>Expense amount</th>
      <th>Expense date</th>
      <th>Expense note</th>
      <th>Taxtypeone</th>
      <th>Taxrateone</th>
      <th>Taxamountone</th>
      <th>Taxtypetwo</th>
      <th>Taxratetwo</th>
      <th>Taxamounttwo</th>
      <th>Expense total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.expense_amount %></td>
        <td><%= expense.expense_date %></td>
        <td><%= expense.expense_note %></td>
        <td><%= expense.taxtypeone %></td>
        <td><%= expense.taxrateone %></td>
        <td><%= expense.taxamountone %></td>
        <td><%= expense.taxtypetwo %></td>
        <td><%= expense.taxratetwo %></td>
        <td><%= expense.taxamounttwo %></td>
        <td><%= expense.expense_total %></td>
        <td><%= link_to 'Show', expense %></td>
        <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
        <td><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expense', new_expense_path %>
