
<%- model_class = Expense -%>

<p id="notice"><%= notice %></p>



        <p><%= @expense.expense_category.name %></p>


 <%= @expense.contact.contact_company_name %>
<p>
  <strong>Expense amount:</strong>
  <%= @expense.expense_amount %>
</p>

<p>
  <strong>Expense date:</strong>
  <%= @expense.expense_date %>
</p>

<p>
  <strong>Expense note:</strong>
  <%= @expense.expense_note %>
</p>

<p>
  <strong>Taxtypeone:</strong>
  <%= @expense.taxtypeone %>
</p>

<p>
  <strong>Taxrateone:</strong>
  <%= @expense.taxrateone %>
</p>

<p>
  <strong>Taxamountone:</strong>
  <%= @expense.taxamountone %>
</p>

<p>
  <strong>Taxtypetwo:</strong>
  <%= @expense.taxtypetwo %>
</p>

<p>
  <strong>Taxratetwo:</strong>
  <%= @expense.taxratetwo %>
</p>

<p>
  <strong>Taxamounttwo:</strong>
  <%= @expense.taxamounttwo %>
</p>

<p>
  <strong>Expense total:</strong>
  <%= @expense.expense_total %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
