<!DOCTYPE html>
<html>
  <head>
    <title>Billingapp</title>
    <%= render 'layouts/bootstrap' %>
    <script src="https://use.fontawesome.com/1cc374df86.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script>window.jQuery || document.write("<%= j javascript_include_tag "jquery" %>")</script>


    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>


  </head>

  <body>

    <%= yield %>

  </body>
</html>
