<!DOCTYPE html>
<html>
  <head>
    <title>Invoice</title>
    <%= wicked_pdf_stylesheet_link_tag 'general' %>
    <%= wicked_pdf_stylesheet_link_tag 'reports' %>
    <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
    <%= stylesheet_link_tag "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" %>


    <style type="text/css">
      /*-----------------General Css Starts-----------------*/
      .sent{
        background:url('<%= "file://#{Rails.root.join('app','assets','images','sent.png')}"%>') !important;
      }
      .grid_table table{
        width: 100%;
      }
      /*-----------------General Css Ends-----------------*/
    </style>
  </head>
  <body >
    <div class="mainContainer">
      <div class="content">
        <!-- <div class="notice"><%#= notice %></div> -->
        <%= yield %>
      </div>
    </div>
  </body>
</html>
